@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap');

.section-title {
    @include flexColumnCenter;

    .section-title-flex {
        display: flex;
        align-items: center;
        column-gap: 2px;

        .line {
            background-color: #c5a47e;
            width: 64px;
            height: 1px;
            display: inline-flex;
            align-items: center;
            margin: auto 0;

            &::before {
                content: "";
                background-color: #c5a47e;
                width: 4px;
                height: 4px;
                border-radius: 50%;
                display: inline-block;
            }

            &:last-child {
                transform: rotate(180deg);
            }
        }
    }

    h2 {
        font-size: 36px;
        line-height: 1.5em;
        text-transform: uppercase;
        letter-spacing: 3px;
        word-spacing: 5px;
        color: #ffffff;

        span {
            color: #c5a47e;
        }
    }

    p {
        color: #c5a47e;
    }

}