// FONT VARIABLES
$font-lato: "Lato",
sans-serif;
$font-poppins: 'Poppins',
sans-serif;
$font-space: 'Space Grotesk',
sans-serif;
$font-hanken: 'Hanken Grotesk',
sans-serif;


// FONT WEIGHTS
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extra-bold: 800;