/* ===================================== */
/*          HERO SECTION STYLE           */
/* ===================================== */
.hero {

    &_video {
        video {
            object-fit: cover;
            height: 100vh;
            width: 100%;
        }
    }
}

/* ===================================== */
/*        SERVICE SECTION STYLE          */
/* ===================================== */
.service {
    margin-top: 80px;

    &_grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        margin-top: 40px;
    }

    &_item {
        position: relative;
        overflow: hidden;

        &::after {
            content: "";
            position: absolute;
            width: 200%;
            height: 0%;
            left: 50%;
            top: 50%;
            background-color: rgba(255, 255, 255, .3);
            transform: translate(-50%, -50%) rotate(-45deg);
            z-index: 1;
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: linear-gradient(360deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 105%);
            height: 100%;
            width: 100%;
            z-index: 1;
            transition: all 0.3s ease-in-out;
        }

        &:hover {
            &::after {
                height: 250%;
                transition: all 600ms linear;
                background-color: transparent;
            }

            .service_content {
                opacity: 1;
                transition: all .2s;
                transform: scale(1);
            }

            .service_image img {
                transform: scale(1.1);
            }

            .arrow {
                transform: rotate(0deg);
                transition: all 0.4s ease;
                opacity: 1;
                background-color: $color-21;
            }
        }

        .arrow {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.4s ease;
            position: absolute;
            top: 20px;
            right: 20px;
            z-index: 1;
            background-color: #c5a47e;
            transform: rotate(-45deg);

            img {
                max-width: 16px;
            }
        }
    }

    &_image {
        img {
            transition: all 0.5s ease 0s;
            height: 430px;
        }
    }

    &_content {
        position: absolute;
        left: 14px;
        right: 14px;
        bottom: 40px;
        z-index: 1;
        @include flexColumn;
        row-gap: 12px;

        h4 {
            font-size: 20px;
            font-weight: 600;
            color: #ffffff;
            text-transform: capitalize;
        }

        p {
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            line-clamp: 2;
            -webkit-box-orient: vertical;
            color: #ffffff;
            font-size: 16px;
            font-weight: 400;
        }
    }
}

/* ===================================== */
/*        PROJECT SECTION STYLE          */
/* ===================================== */
.projects {
    margin-top: 100px;

    &_slider {
        margin-top: 40px;

        @include media-breakpoint-down(md) {
            margin-top: 20px;
        }

        .slick-slide {
            margin-right: 20px;
        }

        .slick-dots li button:before {
            color: #c5a47e;
            font-size: 10px;
        }
    }

    &_item {
        position: relative;
        overflow: hidden;
        margin-bottom: 30px;

        &:hover {
            img {
                filter: brightness(70%);
                transform: scale(1.09, 1.09);
                transition: all 1s ease;
            }

            .projects_content {
                bottom: 0;
            }

            .line {
                width: 100%;
                transition: all 0.8s ease-in-out;
            }

            .arrow {
                filter: brightness(0) saturate(100%) invert(70%) sepia(37%) saturate(310%) hue-rotate(352deg) brightness(90%) contrast(90%);
            }
        }

        img {
            transition: all 0.5s;
            min-height: 382px;
        }

        .line {
            text-align: center;
            height: 1px;
            width: 60px;
            background-color: rgba(255, 255, 255, 0.2);
            transition: all 0.3s ease-in-out;
            margin: 0 auto 30px;
        }
    }

    &_content {
        padding: 30px 15px;
        position: absolute;
        bottom: -58px;
        left: 0;
        width: 100%;
        transition: all 0.3s;
        text-align: center;
        z-index: 20;
        background: linear-gradient(to bottom,
                transparent 0,
                rgba(0, 0, 0, 0.01) 2%,
                rgba(0, 0, 0, 0.75) 90%);

        h6 {
            color: #b19777;
            font-size: 13px;
            font-weight: 400;
            margin: 0 0 10px 0;
            letter-spacing: 5px;
            text-transform: uppercase;
            line-height: 26px;
        }

        h5 {
            color: #fff;
            font-size: 20px;
            font-weight: 500;
            margin: 0 0 10px 0;
            letter-spacing: 5px;
            text-transform: uppercase;
        }

        p {
            color: #fff;
            font-size: 20px;
        }

        .arrow {
            color: #fff;
            font-size: 20px;

            &:hover {
                color: #b19777;
            }
        }

        .arrow {
            width: 20px;
            height: 20px;
            margin: 0 auto;
            min-height: 20px;

            &:hover {
                border-color: #b19777;
            }
        }
    }
}

/* ===================================== */
/*         CLIENT SECTION STYLE          */
/* ===================================== */
.client {
    margin-top: 100px;

    &_slider {
        border-top: 1px solid #282828;
        border-bottom: 1px solid #282828;

        .slick-slide {
            margin-right: 15px;
        }
    }

    &_item {
        padding: 0 20px;
        border-right: 1px solid #282828;
        margin: 20px 0;

        img {
            height: 80px;
        }
    }
}

/* ===================================== */
/*         EQUIPMENT SECTION STYLE       */
/* ===================================== */
.equipment {
    margin-top: 100px;

    &_grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 40px;
        gap: 16px;
    }

    &_item {
        background-color: rgba(255, 255, 255, 0.04);
        padding: 15px;

        .cont {
            padding: 15px;

            .icon {
                width: 52px;
                height: 52px;
                line-height: 50px;
                text-align: center;
                border: 1px solid rgba(255, 255, 255, 0.1);
                border-radius: 50%;

                img {
                    width: 25px;
                }

                &.invert img {
                    -webkit-filter: invert(1);
                    filter: invert(1);
                }
            }

            h5 {
                color: #fff;
                font-size: 22px;
                font-weight: 600;
            }

            h6 {
                color: #fff;
                font-size: 16px;
                font-weight: 400;
                margin-top: 10px;
                font-family: $font-lato;
            }

        }

        .img {
            position: relative;

            &::after {
                content: "";
                position: absolute;
                width: 200%;
                height: 0%;
                left: 50%;
                top: 50%;
                background-color: rgba(255, 255, 255, .3);
                transform: translate(-50%, -50%) rotate(-45deg);
                z-index: 1;
            }

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background: linear-gradient(360deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 105%);
                height: 100%;
                width: 100%;
                z-index: 1;
                transition: all 0.3s ease-in-out;
            }
        }

        &:hover {

            &.img::after {
                height: 250%;
                transition: all 600ms linear;
                background-color: transparent;
            }

        }
    }

    &_btn {
        margin-top: 40px;
        display: flex;
        align-items: center;
        column-gap: 12px;
    }
}

/* ===================================== */
/*         CONTACT SECTION STYLE         */
/* ===================================== */
.contact {
    margin-top: 100px;

    @include media-breakpoint-down(lg) {
        margin-top: 50px;
        flex-direction: column;
        width: 100%;
        height: auto;
        padding: 20px;
        gap: 20px;
    }

    @include media-breakpoint-down(md) {
        padding: 15px;
        gap: 15px;
    }

    &_wrapper {
        display: flex;
        padding: 20px 84px;
        align-items: center;
        gap: 30px;
        border: 2px solid rgba(10, 13, 23, 0.05);
        backdrop-filter: blur(190px);
        background-color: rgba(255, 255, 255, 0.04);
        flex-direction: row-reverse;
    }

    &_section {
        display: flex;
        padding: 40px;
        flex-direction: column;
        gap: 41px;
        flex: 1;

        @include media-breakpoint-down(lg) {
            padding: 20px;
            width: 100%;
        }

        @media (max-width: 640px) {
            padding: 15px;
        }
    }

    &_form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 14px;
        width: 100%;
    }

    &_name {
        display: flex;
        align-items: flex-start;
        gap: 14px;
        width: 100%;

        @include media-breakpoint-down(md) {
            flex-direction: column;
        }
    }

    &_input {
        padding: 12px 14px;
        border: 1px solid rgba(255, 255, 255, 0.20);
        flex: 1 0 0;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.05);
        font-size: 16px;
        font-weight: 400;

        @include media-breakpoint-down(md) {
            width: 100%;
        }

        input {
            background: transparent;
            border: none;
            outline: none;
            color: rgba(255, 255, 255, 0.60);
            letter-spacing: -0.15px;
            width: 100%;

            &::placeholder {
                color: rgba(255, 255, 255, 0.60);
            }
        }

        textarea {
            background: transparent;
            border: none;
            outline: none;
            color: rgba(255, 255, 255, 0.60);
            letter-spacing: -0.15px;
            width: 100%;
            resize: none;
            height: 109px;

            &::placeholder {
                color: rgba(255, 255, 255, 0.60);
            }
        }
    }

    &_image {
        width: 42%;

        img {
            height: 510px;
            object-position: top;
        }
    }


}